<!DOCTYPE html>
<html lang="en">
    <body>
     
        <img class="logo" src="/assets/logo.png" alt="logo">

        <div class="login">
        <%= link_to image_tag("/assets/driver.png"), drivers_path, method: :get %><br>
        <%= link_to image_tag("/assets/broker.png"), brokers_path, method: :get %>
        </div>

    </body>
</html>

