
<img class="logo" src="/assets/logo.png" alt="logo"><br>

<button><%= link_to "Login", driver_login_path, method: :get %></button><br><br>

<button><%= link_to "Sign up", new_driver_path, method: :get %></button>
