



/* #menubar {
   width: 1000px;
   margin: 0 auto;
   height: 40px;
   background-color: white;
} */


body {
   margin: 0;
   padding: 0;
   background-color: #DFFBFF;
   text-align: center;
   font-family: 'Montserrat-Light';
}

.logout {
   float: right;
}

.logo {
   clear: both;
}

.login img {
   /* width: 55%; */
   height: auto;
}

.login img:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

 .logo img {
   width: 200px;
  }

  .logo img:hover {
   transform: scale(1.05);
   transition: all 0.2s ease-in-out;
 }



 /* .nav {
   text-align: left;
   padding: 10px 10px;
 }

 .nav > .logo img {
    width: 175px;
 } */


 /* body > div > div > a > img */
  
 /* button {
    width: 10%;
    background-color: #FFFFFF;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: black;
    border-width: 3px;
 } */

 /* button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
 } */

 @font-face {
   font-family: 'Montserrat-Light';
   src: url('app/assets/fonts/Montserrat-Light.otf') format("truetype");
}

body > form > input[type=submit] {
   font-family: 'Montserrat-Light';
   background-color: #ffffff;
   border: 2px solid #000000;
   color: #000000;
   padding: 15px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
}

body > form > input[type=submit]:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
 }

 .listing {
   background-color: #ffffff;
   border: solid #000000;
   border-width: 5px 0px 3px 0px;
   box-shadow: 2px 6px 13px 0px rgba(0, 0, 0, 0.48);
   margin-top: 20px;
 }

 .listinglink {
   text-decoration: none;
 }

 .item {
   background-color: #DFFBFF;
   border: 2px solid #000000;
   padding: 10px 10px;
   margin: 20px;
   /* border-width: 2px 0px 2px 0px; */
 }

 .item:hover {
   transform: scale(1.02);
   transition: all 0.05s ease-in-out;
 }