body {
   margin: 0;
   padding: 0;
   background-color: #DFFBFF;
   font-family: 'Montserrat-Light';
   text-align: center;
}

body > div.logout > form > input[type=submit]:nth-child(2){   
   font-family: 'Montserrat-Light';
   background-color: #ffffff;
   border: 2px solid #000000;
   color: #000000;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   margin: 20px 0px 0px 0px;
}

.logo img {
   width: 200px;
   margin: 20px 0px 20px 0px;
}

.logo img:hover {
   transform: scale(1.05);
   transition: all 0.2s ease-in-out;
}

.login img {
   display: inline-block;
   max-width: 400px;
   height: auto;
   margin: 0px 0px 0px 0px;
}

.login img:hover {
   transform: scale(1.05);
   transition: all 0.2s ease-in-out;
}

.logout {
   margin-bottom: 10px;
}


@font-face {
   font-family: 'Montserrat-Light';
   src: url('app/assets/fonts/Montserrat-Light.otf') format("truetype");
}

body > form > input[type=submit],
body > div.listing > div > div.item2 > form > input[type=submit]:nth-child(2),
body > div.listing > div > div.container > div.item2 > form > input[type=submit]:nth-child(2),
body > div.listing > div > div.container > div.container > div.item2 > form > input[type=submit]:nth-child(2),
#new_delivery > input[type=submit]:nth-child(26)
{
   font-family: 'Montserrat-Light';
   background-color: #ffffff;
   border: 2px solid #000000;
   color: #000000;
   padding: 15px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 10px 0px 0px 0px;
}

body > form > input[type=submit]:hover,
body > div.listing > div > div.item2 > form > input[type=submit]:nth-child(2):hover,
body > div.listing > div > div.container > div.item2 > form > input[type=submit]:nth-child(2):hover,
body > div.listing > div > div.container > div.container > div.item2 > form > input[type=submit]:nth-child(2):hover,
#new_delivery > input[type=submit]:nth-child(26):hover
{
   transform: scale(1.05);
   transition: all 0.2s ease-in-out;
}

 .container {
    display: inline-block;
    max-width: 800px;
    height: auto;
    margin: 0px 0px 10px 0px;
 }

 .listing {
   background-color: #ffffff;
   border: solid #000000;
   border-width: 5px 0px 3px 0px;
   box-shadow: 2px 6px 13px 0px rgba(0, 0, 0, 0.48);
   margin: 20px 0px 40px 0px;
 }

 .listinglink {
   text-decoration: none;
 }

 .status {
   text-align: right;
 }

 .id {
   color: #000000;
   float: left;
 }

 .redstatus {
   border: solid #000000;
   border-width: 2px 2px 0px 2px;
   padding: 10px 10px;
   margin: 20px 20px 0px 20px;
   color: #bd0000;
}

.bluestatus {
   border: solid #000000;
   border-width: 2px 2px 0px 2px;
   padding: 10px 10px;
   margin: 20px 20px 0px 20px;
   color: #0006a5;
}

.greenstatus {
   border: solid #000000;
   border-width: 2px 2px 0px 2px;
   padding: 10px 10px;
   margin: 20px 20px 0px 20px;
   color: #18b300;
}

 .item {
   background-color: #DFFBFF;
   border: solid #000000;
   border-width: 2px 2px 2px 2px;
   padding: 10px 10px 10px 10px;
   margin: 0px 20px 20px 20px;
 }

 .item:hover {
   transform: scale(1.02);
   transition: all 0.05s ease-in-out;
 }

 .item2 {
   background-color: #DFFBFF;
   border: solid #000000;
   border-width: 2px 2px 2px 2px;
   padding: 10px 10px 10px 10px;
   margin: 0px 20px 20px 20px;
}

.item3 {
   background-color: #DFFBFF;
   border: solid #000000;
   border-width: 2px 2px 2px 2px;
   padding: 10px 10px 10px 10px;
   margin: 0px 20px 20px 20px;
   text-align: left;
}

body > div.listing > div > div > div.item3 > form > input[type=submit]:nth-child(2){
   font-family: 'Montserrat-Light';
   background-color: #ffffff;
   border: 2px solid #000000;
   color: #000000;
   padding: 15px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 10px 0px 0px 0px;
   float: right;
}

body > div.listing > div > div > div.item3 > form > input[type=submit]:nth-child(2):hover{
   transform: scale(1.05);
   transition: all 0.2s ease-in-out;
}

.new { 
   background-color: #ffffff;
   border: solid #000000;
   border-width: 5px 0px 3px 0px;
   box-shadow: 2px 6px 13px 0px rgba(0, 0, 0, 0.48);
   margin: 20px 0px 40px 0px;
   padding: 0px 0px 20px 0px;
   font-family: 'Montserrat-Light';
}

#new_delivery,
#delivery_supplier_id,
#delivery_receiver_id,
#delivery_height,
#delivery_driver_id,
#delivery_scheduled_pickup_1i,
#delivery_scheduled_pickup_2i,
#delivery_scheduled_pickup_3i,
#delivery_scheduled_pickup_4i,
#delivery_scheduled_pickup_5i,
#delivery_description,
#id {
   font-family: 'Montserrat-Light';
}