


<h1> Completed Deliveries </h1>
<%= form_tag url: supplier_path(:id), :method => :post, :controller => :brokers, :action => :drop_off  do %>
 <%= select_tag :id, options_from_collection_for_select(@suppliers, :id, "company"), {prompt: 'Select Supplier'} %>
 <%= submit_tag %>
  <% end %>