

<img class="logo" src="/assets/logo.png" alt="logo"><br>
<button><%= link_to "Login", broker_login_path, method: :get %></button><br><br>
<button><%= link_to "Sign up", new_broker_path, method: :get %></button>

